.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
/* css input  */
.m-lable {
  padding: 8px 0px;
}
.m-input {
  height: 40px;
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  outline: none;
}
.m-input:focus {
  border:#019160 1px solid;
}
.require {
  color: red;
}

/* css grid */
.col-4{
  width: 33.33333%;
  padding: 10px 5px;
  box-sizing: border-box;
}
.col-8{
  width: 66.66666%;
  padding: 10px 5px;
  box-sizing: border-box;
}
