.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
/* css input  */
.m-lable {
  padding: 5px 20px 5px 0;
}
.m-input {
  height: 40px;
  width: calc(100% - 145px);
  right:20px ;
  position: absolute;
  padding: 5px 15px;
  box-sizing: border-box;
  outline: none;
}
.m-input:focus {
  border:#019160 1px solid;
}
.require {
  color: red;
}

/* css grid */
.col-4{
  width: 33.33333%;
  padding: 10px 5px;
  box-sizing: border-box;
}
.col-2{
  width: 50%;
  display: flex;
  position: relative;
}
.col-8{
  width: 66.66666%;
  padding: 10px 5px;
  box-sizing: border-box;
}
