.body-left{
    width: 180px;
    height: 100vh;
    border-right: 1px solid #bbbbbb;
    background-color: #2b3173;
}

.body-right{
    position: absolute;
    left: 181px;
    height: 100vh;
    top: 0px;
    width: calc(100% - 181px);
}