
.logo-site{
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    background-color: #00577b;
}
    .logo-site .toggle-icon img{
        height: 60px;
        padding:12px 10px 12px 2px;
    }
.navbar{
    width: 100%;
    height: calc(100% - 50px);
}