.content{
    height: calc(100% - 61px);
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}
    .content .header-content{
        font-size: 20px;
        font-weight: bold;
        display: flex;
        padding-top: 8px;
        padding-bottom: 16px;
        box-sizing: border-box;
    }
        .content .header-content button{
           position: absolute;
           right: 16px;
           padding: 1px 16px;
           background-color:#019160;
           display: flex;
           align-items: center;
           color: #ffffff;
           border-radius: 4px;
           height: 40px;
           border-width: 0px;
           outline: none;
        }
        .content .header-content button:hover{
            background-color:#2FBE8E;
         }
            .content .header-content img{              
                margin-right: 8px;
                border: 0px;
            }
    .content .filter-bar{
        width: 260px;
        box-sizing: border-box;
        padding:10px 0px ;
    }  
        .content .filter-bar input{
            padding: 10px 16px;
            border-radius: 4px;
            font-size: 12px;
            border: 1px solid #bbbbbb;
            background-image: url(/content/icon/search.png);
            background-repeat: no-repeat;
            background-position: 16px center;
            padding-left: 40px;
            width: 260px;
            outline: none;
        }
        .content .filter-bar input:focus{
            border:#019160 1px solid;
        }
        .content .filter-bar .refresh{
            position: absolute;
            right: 16px;
            justify-content: center;
            width: 20px;
            height: 20px;
            border: 1px solid #bbbbbb;
            background-color: #ffffff;
            border-radius: 4px;
            padding: 10px 14px;
        }

        /* table */
        .content .gird-table {
            overflow: scroll;
            height: calc(100vh - 256px);
        }
        .content .gird-table table{
            border-collapse: collapse;
            width: 100%;
        }
        .content .gird-table table th,td{
            border-bottom: 1px solid #bbbbbb;
            padding: 10px 15px;
            border-bottom: 1px solid #bbbbbb;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .content .gird-table table td{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; 
        }
        .content .gird-table table tbody tr:hover{
           background: #bbbbbb;
        } 
    
        /* footer off page */
    .content .paging-bar{
        border-top: 1px solid #9e9e9e;
        width: calc(100% - 32px);
        box-sizing: border-box;
        display: flex;
        position: absolute;
        padding: 10px 16px;
        bottom: 16px;
        align-items: center;
        justify-content: center;
        height: 56px;
    } 
        .content .paging-bar .paging-info{
            position: absolute;
            left: 16px;
        }
        .content .paging-bar .option{
            position: absolute;
            display: flex;
        }
            .content .paging-bar .option .btn-pagenumber{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid #ccc;
                margin: 0 4px;
                background-color: #e9ebee;
            }
            .content .paging-bar .option .btn-pagenumber-selected{
                background-color: #019160;
                color: #ffffff;
            }
            .content .paging-bar .option img{
               width: 32px;
               height: 32px;
            }

        .content .paging-bar .paging-option{
            position: absolute;
            right: 16px;
        }     
